#signOutImage {
	position: fixed;
    bottom: 0;
    right: 0;
	border-style: solid;
}
div.footer {
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

img.footer {
	z-index: 1;
	height: 50px;
    text-decoration: none;
    display: inline-block;
	cursor: pointer;
	position: fixed;
	right: 20;
	bottom: 20;
}

#detail {
    margin: 0;
    border: 0;
    font-size: 18px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    color: #000000;
    border: solid;
    padding: 10px;
    background-color: #FFFFFF;
    cursor: default;
	text-decoration: none;
}

.products {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
}

.products li {
	cursor: pointer;
	background-color: #EEE;
	margin: .5em;
	padding: .3em;
	height: 3.5em;
	border-radius: 4px;
	text-align: left;
}

.products li:hover {
	color: #607D8B;
	background-color: #DDD;
	left: .1em;
}

a.button {
	text-decoration: none;
}

.productsDisplay {
  margin: auto;
}
/* this is for the other one */
